<!DOCTYPE html>

{% include 'head.html' %}

<body class="has-spaced-navbar-fixed-top">
  {% include 'navbar.html' %}

  <section class="container py-2 mx-3 is-mx-desktop-auto mb-5">
    <div class="columns is-desktop">
      <div class="column navigation-menu is-narrow">
        <aside class="menu">
          <p class="menu-label"></p>
          <ul class="menu-list">
            <li>
              <a href="Term">Term</a>
              <ul>
                <li><a class="is-size-7" href="Property">Property</a></li>
              </ul>
            </li>
            <li>
              <a href="Cycle">Cycle</a>
              <ul>
                <li><a class="is-size-7" href="Completeness">Completeness</a></li>
                <li><a class="is-size-7" href="Input">Input</a></li>
                <li><a class="is-size-7" href="Emission">Emission</a></li>
                <li><a class="is-size-7" href="Product">Product</a></li>
                <li><a class="is-size-7" href="Practice">Practice</a></li>
              </ul>
            </li>
            <li>
              <a href="Site">Site</a>
              <ul>
                <li><a class="is-size-7" href="Measurement">Measurement</a></li>
                <li><a class="is-size-7" href="Infrastructure">Infrastructure</a></li>
                <li><a class="is-size-7" href="Practice">Practice</a></li>
              </ul>
            </li>
            <li><a href="Organisation">Organisation</a></li>
            <li><a href="ImpactAssessment">Impact Assessment</a>
            <ul>
              <li><a class="is-size-7" href="Indicator">Indicator</a></li>
            </ul>
            <li>
              <a href="Source">Source</a>
              <ul>
                <li><a class="is-size-7" href="Bibliography">Bibliography</a></li>
              </ul>
            </li>
            <li><a href="Actor">Actor</a></li>
          </ul>
        </aside>
      </div>

      <div class="column">
        <section id="{{ model.name }}" class="anchor"></section>

        <h1 class="content mb-0 has-text-warning is-size-6">Schema</h1>
        <h2 class="content my-0 has-text-weight-bold is-size-3">{{ model.name }}</h2>
        <h3 class="content mb-0 has-text-weight-bold has-text-warning is-size-5">Type: {{ model.type }}</h3>
        <div class="content mb-0">{% include 'version_switch.html' %}</div>
        <hr class="section-divider my-4">
        <p class="comment">{{ model.doc }}</p>
        {% if model.properties|length > 0 %}
        <hr class="section-divider my-4">
        <div class="table-container">
          <table class="table is-narrow">
            <thead>
              <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Required</th>
                <th>Definition</th>
              </tr>
            </thead>
            <tbody>
              {% for property in model.properties|selectattr("internal", "equalto", false)|selectattr("deprecated", "equalto", false)|list %}
              <tr>
                <td>
                  <span id="{{ property.name }}" class="anchor"></span>
                  <a href="#{{ property.name }}" class="property">{{ property.name }}</a>
                </td>
                <td><a href="{{ property.html_type_link }}">{{ property.display_type }}</a></td>
                <td>
                  {% if property.required %}
                  <span class="has-text-danger">Yes</span>
                  {% else %}
                  <span class="has-text-grey">No</span>
                  {% endif %}
                </td>
                <td class="comment">{{ property.doc }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% for clazz in super_classes %}
        {% if clazz.properties|length > 0 %}
        <p>~</p>
        <p class="comment">Properties from <a href="./{{ clazz.name }}">{{ clazz.name }}</a>:</p>
        <div class="table-container">
          <table class="table is-narrow">
            <tbody>
              {% for property in clazz.properties %}
              <tr class="anchor">
                <td>
                  <span id="{{ property.name }}" class="anchor"></span>
                  <a href="#{{ property.name }}" class="property">{{ property.name }}</a>
                </td>
                <td><a href="{{ property.html_type_link }}">{{ property.display_type }}</a></td>
                <td>
                  {% if property.required %}
                  <span class="has-text-danger">Yes</span>
                  {% else %}
                  <span class="has-text-grey">No</span>
                  {% endif %}
                </td>
                <td class="comment">{{ property.doc }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}
        {% endfor %}

        {% if model.properties|length > 0 %}
        <hr class="section-divider my-4">
        <p class="subheader">Internal Properties</p>
        <div class="table-container">
          <table class="table is-narrow">
            <thead>
              <tr>
                <th>Field</th>
                <th>Type</th>
                <th>Definition</th>
              </tr>
            </thead>
            <tbody>
              {% if model.type == 'Node' %}
              <tr>
                <td>
                  <span id="context" class="anchor"></span>
                  <a href="#context" class="property">@context</a>
                </td>
                <td><a href="https://www.w3.org/2019/wot/json-schema#stringschema">string</a></td>
                <td class="comment">The location of the JSON-LD context file.</td>
              </tr>
              <tr>
                <td>
                  <span id="id" class="anchor"></span>
                  <a href="#id" class="property">@id</a>
                </td>
                <td><a href="https://www.w3.org/2019/wot/json-schema#stringschema">string</a></td>
                <td class="comment">The unique ID assigned to the Node by Hestia.</td>
              </tr>
              {% endif %}
              <tr>
                <td>
                  <span id="type" class="anchor"></span>
                  <a href="#type" class="property">@type</a>
                </td>
                <td><a href="https://www.w3.org/2019/wot/json-schema#stringschema">string</a></td>
                <td class="comment"><code class="inline">{{ model.name }}</code></td>
              </tr>
              {% for property in model.properties|selectattr("internal", "equalto", true)|list %}
              <tr>
                <td>
                  <span id="{{ property.name }}" class="anchor"></span>
                  <a href="#{{ property.name }}" class="property">{{ property.name }}</a>
                </td>
                <td><a href="{{ property.html_type_link }}">{{ property.display_type }}</a></td>
                <td class="comment">
                  {% if property.deprecated %}
                  <code class="inline">DEPRECATED</code>
                  <span>Will be removed in later versions</span>
                  {% else %}
                  <span>{{ property.doc }}</span>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endif %}

        {% if examples %}
        <hr class="section-divider my-4">
        <script src="https://cdn.jsdelivr.net/npm/clipboard@2/dist/clipboard.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
        <script type="text/javascript">var examples = [];</script>

        <script type="text/javascript">
          var activeClass = 'is-active';

          window.updateTab = function(prefix, tab) {
            var tabs = document.querySelectorAll('#' + prefix + ' > ul > li');
            var contentId = prefix + '-' + tab;
            var onclick = "updateTab('" + prefix + "', '" + tab + "')";

            tabs.forEach(function (tab) {
              var links = tab.querySelectorAll('a');
              links.forEach(function (link) {
                if (link.getAttribute('onclick') === onclick) {
                  tab.classList.add(activeClass);
                }
                else {
                  tab.classList.remove(activeClass);
                }
              });
            });

            var contents = [
              document.querySelector('[tab-id="' + prefix + '-compact"]'),
              document.querySelector('[tab-id="' + prefix + '-csv"]')
            ];
            contents.forEach(function (content) {
              if (!content) {
                return;
              }
              if (content.getAttribute('tab-id') === contentId) {
                content.classList.remove('is-hidden');
              }
              else {
                content.classList.add('is-hidden');
              }
            });
          }
        </script>

        {% for example in examples %}

        <p class="subheader mt-3 mb-1">JSON-LD Example {{ loop.index }}</p>
        <script type="text/javascript">examples.push({{example}});</script>
        <div class="tabs" id="jsonld-{{ loop.index }}">
          <ul>
            <li class="is-active"><a onclick="updateTab('jsonld-{{ loop.index }}', 'compact')">JSON-LD (Compacted)</a></li>
            <li><a onclick="updateTab('jsonld-{{ loop.index }}', 'csv')">CSV</a></li>
          </ul>
        </div>
        <div id="jsonld-{{ loop.index }}-compact" class="anchor"></div>
        <div id="jsonld-{{ loop.index }}-csv" class="anchor"></div>

        <div class="tab-content" tab-id="jsonld-{{ loop.index }}-compact">
          <pre><code></code></pre>
        </div>
        <div class="tab-content" tab-id="jsonld-{{ loop.index }}-csv" class="is-hidden">
          <div class="has-text-right">
            <a class="button is-link is-small"
              href="/schema/examples/{{ model.name.lower() }}{{ '' if loop.index == 1 else loop.index }}.csv"
              download
            >
              <img src="./assets/images/download-solid.svg" width="15px">
              <span class="pl-2">Download</span>
            </a>
          </div>

          <div class="table-container mt-2">
            <table class="table is-bordered is-fullwidth is-hoverable is-narrow mb-0">
              <thead class="has-background-black"></thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
        <script type="text/javascript">updateTab('jsonld-{{ loop.index }}', 'compact');</script>
        {% endfor %}

        <script src="https://cdn.jsdelivr.net/npm/papaparse@5.3.0/papaparse.min.js"></script>

        <script type="text/javascript">
          function createButton(target) {
            var button = document.createElement('button');
            button.classList.add('button');
            button.classList.add('is-link');
            button.classList.add('is-small');
            button.classList.add('has-tooltip-bottom');
            button.setAttribute('data-tooltip', 'Copy');
            button.setAttribute('data-clipboard-action', 'copy');
            button.setAttribute('data-clipboard-target', '#' + target);
            var image = document.createElement('img');
            image.setAttribute('src', './assets/images/copy.svg');
            image.setAttribute('alt', 'Copy to clipboard');
            image.setAttribute('width', '20px');
            button.appendChild(image);
            return button;
          }

          function setCode(data, index, type) {
            var tabIdPrefix = 'jsonld-' + (index + 1) + '-';
            var tab = document.querySelector('div[tab-id="' + tabIdPrefix + type + '"]');
            var code = tab.querySelector('pre > code');
            var codeId = tabIdPrefix + type + '-code';
            code.id = codeId;
            code.innerHTML = JSON.stringify(data, null, 2);
            var button = createButton(codeId);
            var container = document.createElement('div');
            container.classList.add('copy-clipboard');
            container.appendChild(button);
            tab.appendChild(container);
            new ClipboardJS(button);
          }

          function addCsv(index) {
            var tabIdPrefix = 'jsonld-' + (index + 1) + '-';
            var tab = document.querySelector('div[tab-id="' + tabIdPrefix + 'csv"]');
            var thead = tab.querySelector('table > thead');
            var tbody = tab.querySelector('table > tbody');
            index = index == 0 ? '' : index + 1;
            var baseUrl = window.location.host == 'www.hestia.earth' ? window.location.origin : 'https://www-staging.hestia.earth';
            var path = baseUrl + '/schema/examples/' + '{{ model.name.lower() }}' + index + '.csv';
            console.log(path);
            Papa.parse(path, {
              download: true,
              complete: function(results) {
                var headers = results.data.shift();
                headers.forEach(function (header) {
                  var th = document.createElement('th');
                  th.textContent = header;
                  th.classList.add('has-text-white');
                  thead.appendChild(th);
                });
                var rows = results.data;
                rows.forEach(function (row) {
                  var tr = document.createElement('tr');
                  row.forEach(function (col) {
                    var td = document.createElement('td');
                    td.textContent = col;
                    tr.appendChild(td);
                  });
                  tbody.appendChild(tr);
                });
              }
            });
          }

          examples.forEach(function (example, index) {
            setCode(example, index, 'compact');
            addCsv(index);

            jsonld.compact(example, example['@context'])
              .then(function (data) {
                setCode(data, index, 'compact');
              })
              .catch(function() {});
          });
        </script>

        {% endif %}
      </div>
    </div>
  </section>

  {% include 'scripts.html' %}
</body>

</html>
