<nav class="navbar is-spaced is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="https://cdn.hestia.earth/prod/assets/images/logo-yellow.png" width="180" height="auto">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbar-dd">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbar-dd" class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          About
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="./index.html">
            About
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/upload">
            How to Upload
          </a>
          <a class="navbar-item" href="/docs/">
            API Documentation
          </a>
          <a class="navbar-item" href="./Term">
            Schema
          </a>
          <a class="navbar-item" href="/glossary/">
            Glossary of Terms
          </a>
        </div>
      </div>
      <!-- <a class="navbar-item" href="https://community.hestia.earth" target="_blank">
        Community
      </a> -->

      <!-- user signin / signout -->
      <a id="signin" class="navbar-item" href="/users/signin">
        Sign In
      </a>
      <div id="user-dropdown" class="navbar-item has-dropdown is-hoverable is-hidden">
        <a id="user-name" class="navbar-link"></a>
        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="/files">
            My Submissions
          </a>
          <a class="navbar-item" href="/users/bibliographies">
            My Bibliographies
          </a>
          <a class="navbar-item" href="/users/profile">
            My Profile
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" onclick="signOut()">
            Sign Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  var activeClass = 'is-active';
  var hiddenClass = 'is-hidden';

  var links = document.querySelectorAll('.navbar .navbar-item');
  for (var i = 0; i < links.length; i++) {
    var link = links[i];
    var href = link.href;
    if (href == window.location.href) {
      link.classList.add(activeClass);
    }
  }

  var menuActive = false;
  var burger = document.querySelectorAll('.navbar-burger')[0];
  var navbarMenu = document.getElementById('navbar-dd');
  burger.addEventListener('click', function (ev) {
    menuActive = !menuActive;
    if (menuActive) {
      burger.classList.add(activeClass);
      navbarMenu.classList.add(activeClass);
    }
    else {
      burger.classList.remove(activeClass);
      navbarMenu.classList.remove(activeClass);
    }
  });

  var storageKey = 'he_ws-he_';

  window.signOut = function() {
    window.localStorage.clear(storageKey + 'p');
    window.localStorage.clear(storageKey + 't');
    window.location.reload();
  };

  var user = window.localStorage.getItem(storageKey + 'p');
  if (user && user.length) {
    document.getElementById('signin').classList.add(hiddenClass);
    document.getElementById('user-dropdown').classList.remove(hiddenClass);
    document.getElementById('user-name').textContent = JSON.parse(user).name;
  }
  else {
    document.getElementById('signin').classList.remove(hiddenClass);
    document.getElementById('user-dropdown').classList.add(hiddenClass);
  }
</script>
