<label class="is-inline-block label has-text-left">
  Viewing version
</label>

<div class="control is-inline-block ml-2">
  <div class="select is-small">
    <select id="versions" onchange="javascript:updateVersion(this)" name="versions">
      {% for version in versions %}
        <option value="{{ version }}">{{ version }}</option>
      {% endfor %}
    </select>
  </div>
</div>

<script type="text/javascript">
  var last = 'Latest';
  var pathname = window.location.pathname.split('/');
  var type = pathname.pop();

  window.updateVersion = function(element) {
    var paths = [
      window.location.origin,
      'schema'
    ];
    if (element.value !== last) {
      paths.push(element.value);
    }
    paths.push(type);
    window.location.href = paths.join('/');
  };

  var version = pathname.pop();
  document.getElementById('versions').value = version === 'schema' ? last : version;
</script>
